In [1]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

# 1 Создание столбцов
Заполните пропуски ____ так, чтобы создать из списков два столбца `Series`, а затем вывести столбец, заполненный True/False в зависимости от того, совпадают ли элементы этих двух столбцов.

Т.е. чтобы для столбцов ниже получилось:

|    |   0 |
|---:|----:|
|  0 |   False |
|  1 |   False |
|  2 |   False |
|  3 |   False |
|  4 |   True |

Несложно догадаться, какой метод нужен в последнем блоке. Однако, возможно, придётся погуглить

In [ ]:
ds1 = pd.____([2, 4, 6, 8, 10])
ds2 = pd.____([1, 3, 5, 7, 10])

In [2]:
print(ds1 ____ ds2)

SyntaxError: invalid syntax (4126258146.py, line 1)

## 2 Именованые индексы
Заполните пропуски ____ так, чтобы создать таблицу с именоваными строками, и в результате получилась следующая таблица:

|    | name      |   score |   attempts | qualify   |
|:---|:----------|--------:|-----------:|:----------|
| a  | Anastasia |    12.5 |          1 | yes       |
| b  | Dima      |     9   |          3 | no        |
| c  | Katherine |    16.5 |          2 | yes       |
| d  | James     |   nan   |          3 | no        |
| e  | Emily     |     9   |          2 | no        |
| f  | Michael   |    20   |          3 | yes       |
| g  | Matthew   |    14.5 |          1 | yes       |
| h  | Laura     |   nan   |          1 | no        |
| i  | Kevin     |     8   |          2 | no        |
| j  | Jonas     |    19   |          1 | yes       |

In [3]:
# NaN - т.е. пустое значение - добавляются с помощью NumPy

# столбцы будущей таблицы
exam_data  = {____: ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        ____: [____, ____, ____, np.nan, ____, ____, ____, np.nan, ____, ____],
        ____: [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        ____: ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

# индексы строк будущей таблицы
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
df

NameError: name '____' is not defined

## 3 Вывод строк, срезы

Создайте таблицу, состоящую из первых трёх строк исходной

In [ ]:
# вспомните, как получать доступ к строкам по имени (метод loc),
# а как - по индексу

df_three_rows = df.____[____]
df_three_rows

In [ ]:
assert str(df_three_rows) == "        name  score  attempts qualify\na  Anastasia   12.5         1     yes\nb       Dima    9.0         3      no\nc  Katherine   16.5         2     yes"

## 4 Добавление новых столбцов

Добавьте к исходной таблице новый столбец "Color"

In [ ]:
# вспомните про то, что синтаксис рабоыт со столбцами похож на синтаксис словарей
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']
df[____] = color
df

In [ ]:
assert str(df) == "        name  score  attempts qualify   color\na  Anastasia   12.5         1     yes     Red\nb       Dima    9.0         3      no    Blue\nc  Katherine   16.5         2     yes  Orange\nd      James    NaN         3      no     Red\ne      Emily    9.0         2      no   White\nf    Michael   20.0         3     yes   White\ng    Matthew   14.5         1     yes    Blue\nh      Laura    NaN         1      no   Green\ni      Kevin    8.0         2      no   Green\nj      Jonas   19.0         1     yes     Red"

## 5 Порядок столбцов

Отобразите таблицу, поменяв в ней порядок столбцов так, чтобы получилась следующая таблица:

|    | color   |   score |   attempts | name      | qualify   |
|:---|:--------|--------:|-----------:|:----------|:----------|
| a  | Red     |    12.5 |          1 | Anastasia | yes       |
| b  | Blue    |     9   |          3 | Dima      | no        |
| c  | Orange  |    16.5 |          2 | Katherine | yes       |
| d  | Red     |   nan   |          3 | James     | no        |
| e  | White   |     9   |          2 | Emily     | no        |
| f  | White   |    20   |          3 | Michael   | yes       |
| g  | Blue    |    14.5 |          1 | Matthew   | yes       |
| h  | Green   |   nan   |          1 | Laura     | no        |
| i  | Green   |     8   |          2 | Kevin     | no        |
| j  | Red     |    19   |          1 | Jonas     | yes       |

In [ ]:
# заметьте, исходную таблицу эта операция не поменяет
# требуется создать новую

df_new_order = df[[____, ____, ____, ____, ____]]
df_new_order

In [ ]:
assert str(df_new_order) == "    color  score  attempts       name qualify\na     Red   12.5         1  Anastasia     yes\nb    Blue    9.0         3       Dima      no\nc  Orange   16.5         2  Katherine     yes\nd     Red    NaN         3      James      no\ne   White    9.0         2      Emily      no\nf   White   20.0         3    Michael     yes\ng    Blue   14.5         1    Matthew     yes\nh   Green    NaN         1      Laura      no\ni   Green    8.0         2      Kevin      no\nj     Red   19.0         1      Jonas     yes"